gradio==4.2
fastapi==0.112.4	
gradio-client==0.7.0
pydantic-core==2.20.0
pydantic
pyvis==0.3.2
datasets
evaluate
python-dotenv==1.0.1
scikit-learn==1.3.2
git+https://github.com/huggingface/peft.git
trl==0.9.6
bitsandbytes==0.43.3